/* Início conteúdo Home */
.homeContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* Card principal com a lista de amostras */
.homeContent .listSamplesCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin-top: 6rem;
  margin-bottom: 6rem;
  padding: 2rem;
  background-color: var(--fourth-color-alpha);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border: solid 1px var(--secondary-color);
  border-radius: 0.5rem;
}

/* Título principal */
.homeContent .listSamplesCard .title {
  font-family: "Poppins";
  color: var(--secondary-color);
  text-align: center;
  margin-bottom: 1.5rem;
}

/* Grid de amostras */
.homeContent .listSamplesCard .samples {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem 2.5rem;
  align-items: center;
  justify-content: center;
  font-family: "Poppins";
  font-size: 0.8rem;
}

/* Imagem das folhas */
.homeContent .listSamplesCard .samples img {
  width: 80%;
  padding-top: 1rem;
  border-radius: 0.4rem;
  cursor: pointer;
  object-fit: cover;
}

.homeContent .listSamplesCard .samples img:hover {
  scale: 0.95;
  transition: 0.3s;
  filter: brightness(1.1);
}

/* Nome da amostra */
.homeContent .listSamplesCard .samples h3 {
  color: var(--primary-color);
  margin-bottom: 0.5rem;
}

/* Informações da amostra */
.homeContent .listSamplesCard .samples li {
  list-style: none;
  color: var(--secondary-color);
  margin-bottom: 0.1rem;
}

/* Botões de ação */
.homeContent .listSamplesCard .samples .btnDel,
.homeContent .listSamplesCard .samples .btnEdit {
  font-family: "Poppins";
  font-size: 0.7rem;
  background-color: var(--fourth-color);
  color: var(--secondary-color);
  height: 1.6rem;
  width: 3rem;
  border: none;
  cursor: pointer;
  border-radius: 0.2rem;
  margin-top: 0.3rem;
  margin-right: 0.5rem;
}

.homeContent .listSamplesCard .samples .btnDel:hover {
  background-color: #f22323;
}

.homeContent .listSamplesCard .samples .btnEdit:hover {
  background-color: var(--primary-color);
}

/* Responsividade */
@media (max-width: 1200px) {
  .homeContent .listSamplesCard {
    width: 100%;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    border: none;
    border-radius: none;
  }

  .homeContent .listSamplesCard .title {
    margin-top: 6rem;
  }

  .homeContent .listSamplesCard .samples {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .homeContent .listSamplesCard .samples img {
    border: none;
    filter: none;
  }

  .homeContent .listSamplesCard .samples img:hover {
    box-shadow: none;
  }

  .homeContent .listSamplesCard .samples .btnDel {
    background-color: #f22323;
  }

  .homeContent .listSamplesCard .samples .btnEdit {
    background-color: var(--primary-color);
  }

  .editContent {
    width: 60%;
  }
}

@media (max-width: 768px) {
  .homeContent .listSamplesCard {
    width: 100%;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    border: none;
    border-radius: none;
  }

  .homeContent .listSamplesCard .title {
    margin-top: 4rem;
  }

  .homeContent .listSamplesCard .samples {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .homeContent .listSamplesCard .samples img {
    border: none;
    width: 85%;
    filter: none;
    margin-left: -5%;
  }

  .homeContent .listSamplesCard .samples img:hover {
    box-shadow: none;
  }

  .homeContent .listSamplesCard .samples .listSamples {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
  }

  .homeContent .listSamplesCard .samples .listSamples .sampleImg {
    text-align: center;
    width: 40%;
  }

  .editContent {
    width: 90%;
  }
}
/* Fim conteúdo Home */
